.degradado {
    background: -moz-linear-gradient(#6b6b67, #0c0c0b);
    background: -webkit-linear-gradient(#6b6b67, #0c0c0b);
    /* For Firefox 3.6 to 15 */
}

.titulo {
    font: oblique bold 120% cursive;
    color: cornflowerblue;
}

.m {
    margin: 0%;
    border: 0px;
}